
<div class="wrapper">

  <!--=== Breadcrumbs v2 ===-->
  <div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">
    <div class="breadcrumbs-v2-in">
      <h1>Frequently Asked Questions</h1>
      <ul class="breadcrumb-v2 list-inline">
        <li><a href="index.html"><i class="rounded-x fa fa-angle-right"></i>Home</a></li>
        <li><a href=""><i class="rounded-x fa fa-angle-right"></i>Page</a></li>
        <li class="active"><i class="rounded-x fa fa-angle-right"></i>F.A.Q</li>
      </ul>
    </div>
  </div>
  <!--=== End Breadcrumbs v2 ===-->

  <!--=== FAQ Page ===-->
  <div class="container content faq-page">
    <!-- FAQ Blocks -->
    <div class="row equal-height-columns margin-bottom-40">
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column">
          <div class="service-bg"></div>
          <i class="icon-badge"></i>
          <div class="inner-faq-b">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column">
          <div class="service-bg"></div>
          <i class="icon-directions"></i>
          <div class="inner-faq-b">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="easy-block-v3 service-or equal-height-column">
          <div class="service-bg"></div>
          <i class="icon-layers"></i>
          <div class="inner-faq-b">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- End FAQ Blocks -->

    <!-- FAQ Content -->
    <div class="row">
      <!-- Begin Tab v1 -->
      <div class="col-md-6">
        <div class="tab-v1">
          <ul class="nav nav-tabs margin-bottom-20">
            <li class="active">
              <a data-toggle="tab" href="#home">Popular Questions
								</a>
            </li>
            <li>
              <a data-toggle="tab" href="#profile">
									Crappy Questions
								</a>
            </li>
            <li>
              <a data-toggle="tab" href="#messages">
									Write for Sowable
								</a>
            </li>
          </ul>
          <div class="tab-content">
            <!-- Tab Content 1 -->
            <div id="home" class="tab-pane fade in active">
              <div id="accordion-v1" class="panel-group acc-v1">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse-One" data-parent="#accordion-v1" data-toggle="collapse" class="accordion-toggle">
													How to Customize Sky-Forms
												</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse-One">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Tab Content 1 -->

            <!-- Tab Content 2 -->
            <div id="profile" class="tab-pane fade">
              <div id="accordion-v2" class="panel-group acc-v1">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse-v2-One" data-parent="#accordion-v2" data-toggle="collapse" class="accordion-toggle">
													Payment assistance first
												</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse-v2-One">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab Content 2 -->

            <!-- Tab Content 3 -->
            <div id="messages" class="tab-pane fade">
              <div id="accordion-v3" class="panel-group acc-v1">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a href="#collapse-v3-One" data-parent="#accordion-v3" data-toggle="collapse" class="accordion-toggle">
													Work for Unify first
												</a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapse-v3-One">
                    <div class="panel-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                      non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab Content 3 -->
          </div>
        </div>
      </div>
      <!--/col-md-6-->
      <!--End Tab v1-->

      <!-- Popular Topics -->
      <div class="col-md-6">
        <div class="headline">
          <h2>Popular Topics</h2>
        </div>
        <div class="row main-check margin-bottom-30">
          <div class="col-xs-6 md-margin-bottom-20">
            <ul class="list-unstyled check-style">
              <li>
                <i class="fa fa-angle-right color-green"></i>
                <a href="#">
										Lorem ipsum dolor sit amet, consectetur ?
									</a>
              </li>
              <li>
                <i class="fa fa-angle-right color-green"></i>
                <a href="#">
										Lorem ipsum dolor sit amet, consectetur ?
									</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class="list-unstyled check-style">
              <li>
                <i class="fa fa-angle-right color-green"></i>
                <a href="#">
										Lorem ipsum dolor sit amet, consectetur ?
									</a>
              </li>
              <li>
                <i class="fa fa-angle-right color-green"></i>
                <a href="#">
										Lorem ipsum dolor sit amet, consectetur ?
									</a>
              </li>
            </ul>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-6">
            <div class="faq-add">
              <div class="top-part">
                <i class="icon-support"></i>
                <h3 class="new-title">
                  <a href="#">Online Support</a>
                </h3>
              </div>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="faq-add">
              <div class="top-part">
                <i class="icon-lock"></i>
                <h3 class="new-title">
                  <a href="#">Security &amp; Privacy</a>
                </h3>
              </div>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid</p>
            </div>
          </div>
        </div>
      </div>
      <!--/col-md-6-->
      <!-- End Popular Topics -->
    </div>
    <!-- End FAQ Content -->
  </div>
  <!--/container-->
  <!--=== End FAQ Page ===-->
</div>

	<script type="text/javascript">
			jQuery(document).ready(function() {
				App.init();
				App.initCounter();
				App.initParallaxBg();
				ContactPage.initMap();
			});
		</script>