	<!--=== Header ===-->
	<div class="header-fixed">
		<div class="wrapper">
			<!--=== Header v2 ===-->
			<div class="header-v2 header-sticky">
				<div class="container container-space">
					<!-- Topbar v2 -->
					<div class="topbar-v2">
						<div class="row">
							<div class="col-sm-8">
								<ul class="list-inline top-v2-contacts">
									<li>Email: 
										<a href="mailto:admin@sowable.com">admin@sowable.com</a>
									</li>
									<li>
										<div class="language-bar">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<span class="heading">Languages</span>
											</a>
											<ul class="languages-dropdown" role="menu">
												<li class="active">
													<a href="#">English</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-sm-4">
								<div class="topbar-buttons pull-right">
									<a href="page_login.html" class="btn-u btn-brd btn-brd-hover btn-u-light margin-right-5">
										Sign In
									</a>
									<a href="page_registration.html" class="btn-u">Sign Up
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End Topbar v2 -->
				</div>

				<!-- Navbar -->
				<div class="navbar navbar-default mega-menu" role="navigation">
					<div class="container container-space">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="fa fa-bars"></span>
							</button>
							<a class="navbar-brand brand-style" href="index.html">
								<img id="logo-header" src="assets/img/Sowable_150_ppi.png" width="85" height="32" alt="Logo">
							</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse navbar-responsive-collapse">
							<ul class="nav navbar-nav">
								<!-- Home -->
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
										Health
									</a>
									<ul class="dropdown-menu">
										<li>
											<a href="index.html">Phisical Health</a>
										</li>

										<!-- One Page -->
										<li class="dropdown-submenu">
											<a href="javascript:void(0);">Knowledge</a>
											<ul class="dropdown-menu">
												<li>
													<a target="_blank" href="One-Pages/Classic/index.html">
														Book reading
													</a>
												</li>
												<li>
													<a target="_blank" href="One-Pages/Classic/one_page_dark.html">
														Mentor
													</a>
												</li>
											</ul>
										</li>
										<!-- End One Page -->
									</ul>
								</li>

															<!-- Shortcodes -->
							<li class="dropdown mega-menu-fullwidth">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									Shortcodes
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="mega-menu-content disable-icons">
											<div class="container">
												<div class="row equal-height">
													<div class="col-md-3 equal-height-in">
														<ul class="list-unstyled equal-height-list">
															<li><h3>Typography &amp; Components</h3></li>

															<!-- Typography -->
															<li><a href="shortcode_typo_general.html"><i class="fa fa-sort-alpha-asc"></i> General Typography</a></li>
															<li><a href="shortcode_typo_headings.html"><i class="fa fa-magic"></i> Headings Options</a></li>
															<!-- End Components -->
														</ul>
													</div>
													<div class="col-md-3 equal-height-in">
														<ul class="list-unstyled equal-height-list">
															<li><h3>Buttons &amp; Icons</h3></li>

															<!-- Buttons -->
															<li><a href="shortcode_btn_general.html"><i class="fa fa-flask"></i> General Buttons</a></li>
															<li><a href="shortcode_btn_brands.html"><i class="fa fa-html5"></i> Brand &amp; Social Buttons</a></li>
															<li><a href="shortcode_btn_effects.html"><i class="fa fa-bolt"></i> Loading &amp; Hover Effects</a></li>
															<!-- End Buttons -->

															<!-- Icons -->
															<li><a href="shortcode_icon_general.html"><i class="fa fa-chevron-circle-right"></i> General Icons</a></li>
															<li><a href="shortcode_icon_fa.html"><i class="fa fa-chevron-circle-right"></i> Font Awesome Icons</a></li>
															<!-- End Icons -->
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</li>
							<!-- End Shortcodes -->
							</ul>
						</div><!--/navbar-collapse-->
					</div>
				</div>
				<!-- End Navbar -->
			</div>
			<!--=== End Header v2 ===-->

			<!-- Interactive Slider v2 -->
			<div class="interactive-slider-v2">
				<div class="container">
					<h1>Welcome to Sowable</h1>
					<p>A worthy life is sowable</p>
				</div>
			</div>
			<!-- End Interactive Slider v2 -->

		</div><!--/wrapper-->
	</div>
	<!--=== End Header ===-->