	<!-- Topbar blog -->
	<div class="blog-topbar">
		<div class="topbar-search-block" style="">
			<div class="container">
				<form action="">
					<input type="text" class="form-control" placeholder="Search">
					<div class="search-close"><i class="icon-close"></i></div>
				</form>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8 col-xs-8">
					<div class="topbar-time"></div>
					<div class="topbar-toggler"><span class="fa fa-angle-down"></span></div>
					<ul class="topbar-list topbar-menu">
						<li><a href="#">Our Products</a></li>
						<li>
							<a href="javascript:void(0);">Learn more</a>
							<ul class="topbar-dropdown">
								<li><a href="#">What does Sowable do?</a></li>
								<li><a href="#">How to contribute</a></li>
								<li class="topbar-submenu">
									<a href="javascript:void(0);">Writer</a>
									<ul class="topbar-submenu-in">
										<li><a href="#">Write post</a></li>
										<li><a href="#">Contribute</a></li>
										<li class="topbar-submenu">
											<a href="javascript:void(0);">Get paid</a>
											<ul class="topbar-submenu-in">
												<li><a href="#">Paypal</a></li>
												<li><a href="#">Credit card</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signin" href="javascript:void(0);">Login</a></strong></li>
						<li class="cd-log_reg hidden-sm hidden-md hidden-lg"><strong><a class="cd-signup" href="javascript:void(0);">Register</a></strong></li>
					</ul>
				</div>
				<div class="col-sm-4 col-xs-4 clearfix">
					<i class="fa fa-search search-btn pull-right"></i>
					<ul *ngIf="!this.app.isLoggedIn" class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">

						<li class="cd-log_reg home"><a routerLink="login-register">Login</a></li>
						<li class="cd-log_reg"><a routerLink="login-register">Register</a></li>
					</ul>
					<ul *ngIf="this.app.isLoggedIn" class="topbar-list topbar-log_reg pull-right visible-sm-block visible-md-block visible-lg-block">
						<li class="cd-log_reg home"><i class="fa fa-user"></i></li>
						<li class="cd-log_reg">Hi, {{userinfo.name}}</li>
						<li class="cd-log_reg"><a routerLink="dashboard">Dashboard</a></li>
					</ul>
				</div>
			</div>
			<!--/end row-->
		</div>
		<!--/end container-->
	</div>
	<!-- End Topbar blog -->