<div class="wrapper">
	<!--=== Breadcrumbs ===-->
	<div class="breadcrumbs">
		<div class="container">
			<h1 class="pull-left">
				<span *ngIf="category_name != '' && subcategory_name == ''">{{category_name}}</span>
				<span *ngIf="subcategory_name != ''">{{subcategory_name}}</span>
			</h1>
			<ul class="pull-right breadcrumb">
				<li><a href="index.html">Sowable</a></li>
				<li><a href="">{{category_name}}</a></li>
				<li class="active" *ngIf="subcategory_name != ''"><a href="">{{subcategory_name}}</a></li>
			</ul>
		</div>
	</div>
	<!--/breadcrumbs-->
	<!--=== Content Part ===-->
	<div class="container content">
		<div class="row magazine-page">
			<!-- Begin Content -->
			<div class="col-md-12">
				<!-- Magazine News -->

				<div class="magazine-news">
					<h4 *ngIf="articles == null">Loading articles...</h4>
					<div class="col-md-4" *ngFor="let article of articles | slice:sliceStart:sliceEnd; let j =index">

						<div class="magazine-news-img">
							<a href="#"><img class="img-responsive" src="assets/img/main/img.jpg" alt=""></a>
							<span class="magazine-badge label-red">{{category_name}}</span>
						</div>
						<h3><a routerLink="/article/{{article.id}}">{{article.title}}</a></h3>
						<div class="by-author">
							<strong>By </strong>
							<span class="pull-right">{{article.updated_at_hr}}</span>
						</div>
						<p [innerHTML]="article.content | limitTo:150"></p>
					</div>
					<h4 *ngIf="numOfArticles <= 0">Sorry, we don't have article of this category.</h4>
					<div class="margin-bottom-35">
						<hr class="hr-md">
					</div>

				</div>
				<!-- End Magazine News -->



				<div class="text-center">
					<ul class="pagination">
						<li>
							<a href="#">
								<<</a>
							</li>
							<li (click)="changePage(i)" *ngFor="let page of numOfPages; let i = index"><a>{{i+1}}</a></li>
							<li><a href="#">>></a></li>
						</ul>
					</div>
				</div>
				<!-- End Content -->
			</div>
		</div>
	</div>
<!--=== End Content Part ===-->