	<header-secondary></header-secondary>
  <div class="wrapper">

		<!--=== Breadcrumbs ===-->
		<div class="breadcrumbs">
			<div class="container">
				<h1 class="pull-left">Clients</h1>
				<ul class="pull-right breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li><a href="">Pages</a></li>
					<li class="active">Clients</li>
				</ul>
			</div>
		</div><!--/breadcrumbs-->
		<!--=== End Breadcrumbs ===-->

		<!--=== Content Part ===-->
		<div class="container content">
			<div class="row">
				<div class="col-md-9">
					<div class="headline"><h2>Our Clinets</h2></div>

					<!-- Clients Block-->
					<div class="row clients-page">
						<div class="col-md-2">
							<img src="assets/img/clients2/baderbrau.png" class="img-responsive hover-effect" alt="" />
						</div>
						<div class="col-md-10">
							<h3>Cisco Systems, Inc</h3>
							<ul class="list-inline">
								<li><i class="fa fa-map-marker color-green"></i> USA</li>
								<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
								<li><i class="fa fa-briefcase color-green"></i> Web Design &amp; Development</li>
							</ul>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
							<p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
						</div>
					</div>
					<!-- End Clients Block-->

					<!-- Clients Block-->
					<div class="row clients-page">
						<div class="col-md-2">
							<img src="assets/img/clients2/bellfield.png" class="img-responsive hover-effect" alt="" />
						</div>
						<div class="col-md-10">
							<h3>Natural Green</h3>
							<ul class="list-inline">
								<li><i class="fa fa-map-marker color-green"></i> Canada</li>
								<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
								<li><i class="fa fa-briefcase color-green"></i> Logo Design &amp; Wordpress</li>
							</ul>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
						</div>
					</div>
					<!-- End Clients Block-->

					<!-- Clients Block-->
					<div class="row clients-page">
						<div class="col-md-2">
							<img src="assets/img/clients2/emirates.png" class="img-responsive hover-effect" alt="" />
						</div>
						<div class="col-md-10">
							<h3>The Coca-Cola Company</h3>
							<ul class="list-inline">
								<li><i class="fa fa-map-marker color-green"></i> USA</li>
								<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
								<li><i class="fa fa-briefcase color-green"></i> Web Design &amp; Development</li>
							</ul>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati</p>
							<p>Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
						</div>
					</div>
					<!-- End Clients Block-->

					<!-- Clients Block-->
					<div class="row clients-page">
						<div class="col-md-2">
							<img src="assets/img/clients2/inspiring.png" class="img-responsive hover-effect" alt="" />
						</div>
						<div class="col-md-10">
							<h3>Game Cast TV</h3>
							<ul class="list-inline">
								<li><i class="fa fa-map-marker color-green"></i> Europe</li>
								<li><i class="fa fa-globe color-green"></i> <a class="linked" href="#">http://www.example.com</a></li>
								<li><i class="fa fa-briefcase color-green"></i> Web Design &amp; HTML/CSS</li>
							</ul>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati. Olerano ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna edetquam lacus. Fusce condimentum eleifend enim a sint occaecati feugiat..</p>
						</div>
					</div>
					<!-- End Clients Block-->

					<!-- Pagination -->
					<div class="text-center md-margin-bottom-30">
						<ul class="pagination">
							<li><a href="#">«</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li class="active"><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">»</a></li>
						</ul>
					</div>
					<!-- End Pagination -->
				</div><!--/col-md-9-->

				<div class="col-md-3">
					<!-- Our Services -->
					<div class="who margin-bottom-30">
						<div class="headline"><h2>Our Services</h2></div>
						<p>At vero eos et accusamus et iusto odio dign issimos ducimus qui blanditiis iusto.</p>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-desktop"></i>Vivamus imperdiet condimentum</a></li>
							<li><a href="#"><i class="fa fa-bullhorn"></i>Anim pariatur cliche squid</a></li>
							<li><a href="#"><i class="fa fa-globe"></i>Eget placerat felis consectetur</a></li>
							<li><a href="#"><i class="fa fa-group"></i>Condimentum diam eget placerat</a></li>
						</ul>
					</div>

					<!-- About Us -->
					<div class="headline"><h2>About Us</h2></div>
					<div class="margin-bottom-30">
						<p>At vero eos et acc usamus et iusto odio dign issimos ducimus atque corrupti quos.</p>
						<p>dolores etrerum facilis est etenim a feugiat cupiditate non quos. <a class="linked color-green" href="#">Read more</a></p>
					</div>

					<!-- Contact Us -->
					<div class="who margin-bottom-30">
						<div class="headline"><h2>Contact Us</h2></div>
						<p>Vero facilis est etenim a feugiat cupiditate non quos etrerum facilis.</p>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-home"></i>5B amus ED554, New York, US</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>infp@example.com</a></li>
							<li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>
							<li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>
						</ul>
					</div>
				</div><!--/col-md-3-->
			</div><!--/row-->
		</div><!--/container-->
		<!--=== End Content Part ===-->
	</div>
  <app-footer></app-footer>