<div class="background">
<!--=== Error V5 ===-->

<div class="container valign__middle">
  <!--Error Block-->
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="error-v5">
        <a class="logo-a" href="#"><img alt="" src="./../../assets/img/sowable/logo-bw.png" class="logo" style="width: 500px;"></a>
        <h1>That's an error!</h1>
        <span class="sorry">The requested URL was not found on this server.<br> That's all we know.</span>
        <img class="error-img" src="./../../assets/img/error/error-404-v5.png" alt="error">
        <form>
          <div class="input-group col-md-12">
            <input type="text" class="form-control" placeholder="Try to find something">
            <span class="input-group-btn">
								<button class="btn-u" type="button">Search</button>
							</span>
          </div>
          <!-- /input-group -->
        </form>
        <br>
        <span><a href="#">Back home</a></span>
      </div>
    </div>
  </div>
</div>
<!--/container-->
<!--End Error Block-->

<!--=== Sticky Footer ===-->
<div class="container sticky-footer">
  <p class="copyright-space">
    2017 &copy; All Rights Reserved. Sowable by <a href="http://sowable.com/" target="_blank" class="color-green">Sowable Team</a>
  </p>
</div>
</div>
<!--=== End Sticky Footer ===-->
	<script>
		jQuery(document).ready(function() {
			App.init();
		});
		$.backstretch([
			"./../../assets/img/error/error-v5.jpg"
			])
	</script>