<!--=== Content Part ===-->
	<!-- Top -->
	<div class="container-fluid bg-top content-md">
		<div class="cover-bg-top"></div>
		<div class="container">
			<div class="coming-soon-v4-top text-center">
				<img class="margin-bottom-90" src="assets/img/sowable/logo_white_150ppi.png" alt="logo">
				<h1 class="margin-bottom-20">Coming Soon</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisic elit, sed do eiusmod tempor incididunt labore.Consectetur adipisic elit, sed do eiusmod tempor.</p>
				<!-- Coming Soon Plugin -->
				<div class="coming-soon-plugin">
					<div id="defaultCountdown"></div>
				</div>
				<!-- End Coming Soon Plugin -->
			</div>
		</div><!--/container-->
	</div><!--/container-fluid-->
	<!-- End Top -->

	<!-- Middle -->
	<div class="container-fluid content-md no-padding-bottom">
		<div class="container">
			<!-- Coming Soon Content -->
			<div class="coming-soon-v4-middle text-center">
				<div class="heading">
					<p>About us</p>
					<h2 class="title-v2 title-center">Facts about Unify</h2>
				</div>
				<!-- Service Box -->
				<div class="service-box row text-center margin-bottom-60">
					<div class="col-md-4 md-margin-bottom-50">
						<i class="icon-custom icon-lg rounded-x icon-color-blue icon-line icon-finance-118"></i>
						<h2 class="title-v3-md margin-bottom-15">Daily Analytics</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
					</div>
					<div class="col-md-4 flat-service md-margin-bottom-50">
						<i class="icon-custom icon-lg rounded-x icon-color-blue icon-line icon-finance-138"></i>
						<h2 class="title-v3-md margin-bottom-15">Investement Funds</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
					</div>
					<div class="col-md-4 flat-service">
						<i class="icon-custom icon-lg rounded-x icon-color-blue icon-line icon-finance-258"></i>
						<h2 class="title-v3-md margin-bottom-15">Certified professionals</h2>
						<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cur modo, tortor mauris con</p>
					</div>
				</div>
				<!-- End Service Box -->
				<img class="img-responsive center-block wow animated fadeInUp" src="assets/img/coming-soon/comingsoon-people.jpg" alt="">
			</div>
		</div><!--/container-->
	</div><!--/container-fluid-->
	<!-- End Middle -->

	<!-- Bottom -->
	<div class="container-fluid bg-bottom content-md sticky-footer">
		<div class="cover-bg-bottom"></div>
		<div class="container">
			<!-- Coming Soon Content -->
			<div class="coming-soon-v4-bottom text-center">
				<div class="heading white">
					<p>Subscribe for updates</p>
					<h2 class="title-v2 title-center">Get in touch</h2>
				</div>

				<form action="#">
					<div class="input-group col-md-12">
						<input type="text" class="form-control" placeholder="Try to find something">
						<span class="input-group-btn">
							<button class="btn-u btn-u-blue" type="button">Subscribe</button>
						</span>
					</div><!-- /input-group -->
				</form>

				<!--=== Subfooter ===-->
				<div class="subfooter">
					<div class="container ">
						<div class="row">
							<div class="col-sm-12">
								<ul class="list-unstyled list-inline social-links margin-bottom-20">
									<li><a href="#"><i class="icon-custom icon rounded icon-bg-light fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="icon-custom icon rounded icon-bg-light fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="icon-custom icon rounded icon-bg-light fa fa-google-plus"></i></a></li>
								</ul>
							</div>

							<div class="col-sm-12">
								<p class="copyright"> 2016 &copy; ALL Rights Reserved. <a href="http://sowable.com/" target="_blank" class="color-light">Sowable</a></p>
							</div>
						</div>
					</div>
				</div>
				<!--=== End Subfooter ===-->
			</div>
		</div><!--/container-->
	</div><!--/container-fluid-->
	<!-- End Bottom -->
	<!--=== End Content Part ===-->
  	<script>
		jQuery(document).ready(function() {
			App.init();
			PageComingSoon.initPageComingSoon();
			new WOW().init();
		});
	</script>