
<!--=== Header ===-->
<div class="header-v8 header-sticky">
<app-topbar></app-topbar>

	<!-- Navbar -->
	<div class="navbar mega-menu" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="res-container">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

				<div class="navbar-brand">
					<a routerLink="/">
							<img src="./../../assets/img/sowable/logo_70_ppi.png" alt="Logo">
						</a>
				</div>
			</div>
			<!--/end responsive container-->

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				<div class="res-container">
					<ul class="nav navbar-nav">
						<!-- Home -->
						<li *ngFor="let category of categories" class="dropdown home active">
							<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
									{{category.name}}
								</a>
							<ul class="dropdown-menu">
								<li class="active"><a href="index.html">Home Default Page</a></li>

								<!-- Post Layouts -->
								<li class="dropdown-submenu">
									<a href="javascript:void(0);">Blog Page Layouts</a>
									<ul class="dropdown-menu">
										<li><a href="blog_page_layouts1.html">Page Layouts v1</a></li>
										<li><a href="blog_page_layouts2.html">Page Layouts v2</a></li>
										<li><a href="blog_page_layouts3.html">Page Layouts v3</a></li>
										<li><a href="blog_page_layouts4.html">Page Layouts v4</a></li>
									</ul>
								</li>
								<!-- End Post Layouts -->

								<!-- Post Layouts -->
								<li class="dropdown-submenu">
									<a href="javascript:void(0);">Blog Post Layouts</a>
									<ul class="dropdown-menu">
										<li><a href="blog_post_layouts1.html">Post Layout v1</a></li>
										<li><a href="blog_post_layouts2.html">Post Layout v2</a></li>
										<li><a href="blog_post_layouts3.html">Post Layout v3</a></li>
										<li><a href="blog_post_layouts4.html">Post Layout v4</a></li>
										<li><a href="blog_post_layouts5.html">Post Layout v5</a></li>
										<li><a href="blog_post_layouts6.html">Post Layout v6</a></li>
										<li><a href="blog_post_layouts7.html">Post Layout v7</a></li>
										<li><a href="blog_post_layouts8.html">Post Layout v8</a></li>
										<li><a href="blog_post_layouts9.html">Post Layout v9</a></li>
										<li><a href="blog_post_layouts_ls.html">Left Sidebar Example</a></li>
										<li><a href="blog_post_layouts_fw.html">Full Width Example</a></li>
									</ul>
								</li>
								<!-- End Post Layouts -->

								<!-- Grid Layouts -->
								<li class="dropdown-submenu">
									<a href="javascript:void(0);">Grid Layouts</a>
									<ul class="dropdown-menu">
										<li><a href="blog_grid_1.html">Grid: 1 Col</a></li>
										<li><a href="blog_grid_2.html">Grid: 2 Col</a></li>
										<li><a href="blog_grid_3.html">Grid: 3 Col</a></li>
										<li><a href="blog_grid_4.html">Grid: 4 Col</a></li>
										<li><a href="blog_grid_4_fw.html">Grid: Full Width (4 Col)</a></li>
										<li><a href="blog_grid_2_rs.html">Grid: Right Sidebar (2 Col)</a></li>
										<li><a href="blog_grid_2_ls.html">Grid: Left Sidebar (2 Col)</a></li>
									</ul>
								</li>
								<!-- End Grid Layouts -->

								<li><a href="blog_single.html">Single Page</a></li>
								<li><a href="blog_home_boxed.html">Home Boxed Page</a></li>
								<li><a href="blog_home_boxed_space.html">Home Boxed Space Page</a></li>
							</ul>
						</li>
						<!-- End Home -->
					</ul>
				</div>
				<!--/responsive container-->
			</div>
			<!--/navbar-collapse-->
		</div>
		<!--/end contaoner-->
	</div>
	<!-- End Navbar -->
</div>
<!--=== End Header ===-->