<section class="row featured-post-carousel">
    <div class="item post">
        <img src="../../assets/images/homeslider/nature-1.jpg" alt="" class="img-responsive main-bg">
        <div class="post-content">
            <div class="container">
                <h5 class="post-meta"><i>in</i> <a href="#">Author Profile</a> | <a href="#">feb 17, 2016</a></h5>
                <h2 class="post-title"><a href="single.html">Nature, in the broadest sense, is the natural, physical, or material world or universe.</a></h2>
                <a href="single.html" class="btn btn-primary"><span>read more</span></a>
            </div>
        </div>
    </div>
    <div class="item post">
        <img src="http://placehold.it/1970x900" alt="" class="img-responsive main-bg">        
        <div class="post-content">
            <div class="container">
                <h5 class="post-meta"><i>in</i> <a href="#">Author Profile</a> | <a href="#">feb 17, 2016</a></h5>
                <h2 class="post-title"><a href="single.html">Nature, in the broadest sense, is the natural, physical, or material world or universe.</a></h2>
                <a href="single.html" class="btn btn-primary"><span>read more</span></a>
            </div>
        </div>
    </div>
    <div class="item post">
        <img src="http://placehold.it/1970x900" alt="" class="img-responsive main-bg">        
        <div class="post-content">
            <div class="container">
                <h5 class="post-meta"><i>in</i> <a href="#">Author Profile</a> | <a href="#">feb 17, 2016</a></h5>
                <h2 class="post-title"><a href="single.html">Nature, in the broadest sense, is the natural, physical, or material world or universe.</a></h2>
                <a href="single.html" class="btn btn-primary"><span>read more</span></a>
            </div>
        </div>
    </div>
</section>

<section class="row content-wrap">
    <div class="container">
        <div class="row" id="post-masonry">
            <!--Blog Post-->
            <article *ngFor="let article of articles" class="col-sm-4 post post-masonry post-format-image">
                <div class="post-wrapper row">
                    <div class="featured-content row">
                        <a href="single.html"><img src="http://placehold.it/360x270" alt="" class="img-responsive"></a>
                    </div>
                    <div class="post-excerpt row">
                        <h5 class="post-meta">
                            <a href="#" class="date">{{article.date}}</a>
                            <span class="post-author"><i>by</i><a href="#">{{article.auther}}</a></span>
                        </h5>
                        <h3 class="post-title"><a routerLink="/article/{{article.id}}">{{article.title}}</a></h3>
                        <p>{{ article.bodytext | limitTo: 40 }}</p>
                        <footer class="row">
                            <h5 class="taxonomy"><i>in</i> <a href="#">{{article.tags}}</a></h5>
                            <div class="response-count"><img src="assets/images/comment-icon-gray.png" alt="">{{article.numcomments}}</div>
                        </footer>
                    </div>
                </div>
            </article>
            <!--Twitter Widget-->
            <aside class="col-sm-4 widget widget-twitter widget-with-posts post">
                <div class="widget-twitter-inner">
                    <h5 class="widget-meta"><i class="fa fa-twitter"></i>Twitter feed <a href="http://twitter.com/chivalricblog">@chivalricblog</a></h5>
                    <div class="row tweet-texts">
                        <p>Check out new post on my blog <a href="http://twitter.com/#natureshot">#natureshot</a> <a href="http://bit.ly/blog">http://bit.ly/blog</a></p>
                    </div>
                    <div class="row timepast">1 day ago</div>
                </div>
            </aside>
        </div>
    </div>
</section>

