.featured-post-carousel{
    position: relative;
    .post{
        padding: 0;
    }
    
    .post-content{
        width: 100%;
        position: absolute;
        bottom: 160px;
        @media (max-width: 1199px){
            bottom: 60px;
        }
        @media (max-width: 767px){
            bottom: 20px;
        }
    }
    h5{
        letter-spacing: 1px;
        color: transparentize(#fff,0.30);
        margin: 0;
        a{
            color: transparentize(#fff,0.30);
        }
    }
    h2{
        max-width: 654px;
        margin: 10px 0 22px;
        @media (max-width: 767px){
            max-width: 100%;
            margin: 5px 0 15px;
            line-height: 0.6;
        }
        a{
            color: #fff;
            font:600 30px/1.25 $josefin;            
            @media (max-width: 767px){
                font-size: 16px;
                line-height: 0.7;
            }
        }
    }
    
    .btn-primary{
        @media (max-width:767px){
            padding: 0 15px;
            line-height: 30px;
        }
    }
    
    .owl-prev,.owl-next{
        position: absolute;
        color: #fff;
        background: #000;
        width: 70px;
        height: 70px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        text-align: center;
        line-height: 70px;
        font-size: 36px;
        cursor: pointer;
        opacity: 0;
        @include transition;
        transition-duration: 1s;
        &:hover,&:focus{
            background: #fff;
            color: #000;
        }
    }
    .owl-prev{
        left: 0;
    }
    .owl-next{
        right: 0;
    }
    &:hover{
        .owl-prev,.owl-next{
            opacity: 1;
        }
    }
    &.text-center{
        background: #000;
        .main-bg{
            opacity: 0.87;
        }
        .post-content{
            bottom: 47px;
            @media (max-width:991px){
                bottom: 30px;
            }
        }
        h2{
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    &.dosis{
        h2{
            a{
                font: 500 30px/1.25 $dosis;
            }
        }
    }
    
    &.fredoka{
        h2{
            a{
                font: 400 30px/1.25 $fredoka;
            }
        }
    }
    
    &.kanit-bold{
        h2{
            max-width: 780px;
            a{
                font: 700 30px/1.25 $kanit;
            }
        }
    }
}