.page-title{
    font-family: $dosis;
    text-transform: capitalize;
    color: #333;
    line-height: 1;
    margin: 15px 0 30px;
}

.page-content{
    margin: 0 0 80px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
    img{
    }
    
    .contents{
        padding: 30px;    
        margin: 0;
    }
    
    h4{
        line-height: 24px;
        font-family: $muli;
        color: #333;
        margin: 0 0 30px;
    }
    
    p{
        font: 15px/21px $muli;
        color: #808080;
        margin: 0;        
        a{
            
        }
    }
    form{
        margin-top: 15px;
        h5{
            margin: 0;
            font: 15px/42px $muli;
            color: #808080;
        }
    }
}